<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Aras">
      <sectionGroup name="Net">
        <section name="RequestProvider" type="Aras.Net.Configuration.RequestProviderConfigurationSection, IOM"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--Aras>
    <Net>
      <RequestProvider>
        <providers>
          <provider uriPattern=".*">
            <ClientCertificate>
              <certificate sourceType="CertificateStore" storeLocation="CurrentUser" storeName="My" findType="FindByThumbprint" findValue="71f942b0710faa873d1d3de2a9815b3321604d5a"/>
            </ClientCertificate>
          </provider>
        </providers>
      </RequestProvider>
    </Net>
  </Aras-->
</configuration>
